<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/header') %>

        <main class="scroll-container">
            <%- include('main_view_sections/hero-section') %>

                <%- include('main_view_sections/info-section') %>

                    <%- include('main_view_sections/resources-section') %>

                        <%- include('main_view_sections/oasis-section') %>

                            <%- include('main_view_sections/top-section') %>
        </main>

        <script src="../js/main.js"></script>
</body>

</html>